@import url("https://use.typekit.net/nvl4kaf.css");

body {
	font-family: "helvetica-neue-lt-pro", Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	background-color: #ffffff;
}
.story-person {
	font-size: 1.25rem;
	margin: 0;
}

.story-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 70px;
	padding: 30px;
}
.story-title {
	margin: 0px;
}
.story-card {
	background-color: #ebf5ec;
	color: #333;
	border-radius: 10px;
	padding: 20px;
	width: 370px;
	height: 230px;
	gap: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: left;
}

.story-arrow {
	position: absolute;
	bottom: 12px;
	right: 16px;
	font-size: 1.2rem;
	color: #af4241;
	transition: transform 0.2s ease;
}

h1 {
	font-family: "Bungee", sans-serif;
	font-weight: 400;
	margin-bottom: 4%;
	color: #e61232 !important;
}

.app-header {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px;
}

.logo {
	max-height: 150px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 70%;
	margin: auto;
}

.app-header {
	max-width: 70%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.nav-list {
	display: flex;
	gap: 20px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-list a {
	text-decoration: none;
	color: inherit;
}
.search-container {
	position: relative;
	margin-top: 20px;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-icon {
	font-size: 1.5rem;
	color: #af4241;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.search-icon:hover {
	transform: scale(1.1);
}

.search-container.expanded .search-input {
	width: 200px;
	opacity: 1;
	visibility: visible;
}

.search-input {
	padding: 8px 12px;
	border-radius: 20px;
	border: none;
	background-color: #eee;
	transition: all 0.3s ease;
	width: 0;
	opacity: 0;
	visibility: hidden;
	outline: none;
	font-size: 1rem;
}
.footer {
	background-color: #f7f7f7;
	padding: 40px 20px;
	display: flex;
	text-align: center;
	background-color: #ebf5ec;
	margin-top: 10%;
}
.footer-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 40px;
	max-width: 80%;
	margin: auto;
}

.footer-text {
	max-width: 700px;
	margin: 0 auto 20px;
	font-size: 1rem;
	color: #333;
	line-height: 1.6;
	text-align: left;
}

.about-button {
	background-color: #000;
	color: #fff;
	border: none;
	font-family: "Bungee", sans-serif;
	text-decoration: none;
	border-radius: 90px;
	cursor: pointer;

	padding: 12px 24px;
	width: 150px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.about-button:hover {
	background-color: #333;
}
.footer-text-about {
	display: flex;
	flex-direction: column;
}

.stories-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.story-card-narrow {
	padding: 3%;
	width: 300px;
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 22px;
	border-radius: 27px;
	background-color: #ebf5ec;
	border-radius: 27px;
	overflow: hidden;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
	position: relative;
}
.card-text {
	width: 100%;
	margin-left: 0;
}
.story-card-narrow:hover {
	transform: scale(1.05);
}

.story-image {
	width: 110%;
	height: 190px;
	border-radius: 22px;
	object-fit: cover;
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
	width: 5%;
	background: none;
	opacity: 1;
	color: #e61232;
	border-color: #e61232;
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
	background-color: #333;
	border-radius: 50%;
	padding: 10px;
	border: #e61232;
	background-size: 80%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.custom-carousel .carousel-control-prev {
	left: 50px;
}

.custom-carousel .carousel-control-next {
	right: 50px;
}

.genre-button {
	padding: 10px;
	font-family: "Bungee", sans-serif;
	width: 123px;
	background-color: #ebf5ec;
	border-radius: 27px;
	border: none;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
	cursor: pointer;
	color: #333;
	text-align: center;
}

.genre-button:hover {
	transform: scale(1.05);
	background-color: #e4f3e6;
}

.making-of-page img {
	max-width: 100%;
	height: auto;
	display: block;
}

.making-banner-wrapper {
	position: relative;
	display: infline-block;
	margin: 40px 0;
	overflow: hidden;
	margin: 40px 0;
}

.making-banner-wrapper img {
	border-radius: 15px;
	width: 100%;
	height: auto;
	display: block;
}

.making-banner-info {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: var(--widget-color, #ebf5ec);
	padding: 12px 42px;
	width: fit-content;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.making-story-section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	justify-content: center;
	margin: 60px 0;
	flex-direction: row;
}
.making-story-text,
.making-story-image-area {
	width: 50%;
	overflow: hidden;
	box-sizing: border-box;
}

.making-story-image-area {
	flex: 1 1 300px;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}
.making-story-content {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;
}

.story-cover {
	border-radius: 10px;
	width: 100%;
	height: auto;
	object-fit: cover;
}

.view-button {
	background-color: #e61232;
	color: white;
	font-family: "Bungee", sans-serif;
	border: none;
	border-radius: 30px;
	padding: 12px 30px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.view-button:hover {
	background-color: #c10f28;
}

.extras-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	gap: 30px;
	justify-content: center;
	margin-bottom: 80px;
}

.extra-block {
	width: 280px;
	text-align: center;
}

.extra-block img {
	width: 100%;
	border-radius: 10px;
}

@media screen and (max-width: 768px) {
	.making-story-section {
		flex-direction: column;
		gap: 30px;
	}

	.making-story-text,
	.making-story-image-area {
		flex: 1 1 100%;
	}
}

.intro-about {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	margin-top: 60px;
	flex-wrap: wrap;
}

.tekst-about {
	flex: 1;
	min-width: 280px;
	max-width: 50%;
}

.tekst-about h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.tekst-about p {
	font-size: 1rem;
	line-height: 1.6;
}

.student-grid {
	display: grid;
	grid-template-columns: 0.5fr 0.75fr 0.5fr;
	gap: 24px;
	max-width: 50%;
	width: 50%;
	flex: 1;
}

.student-grid img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}

.student1 {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	margin-top: 30px;
}
.student2 {
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	margin-bottom: 30px;
	margin-top: -40px;
}
.student3 {
	border-radius: 25px;
	margin-top: 20px;
	margin-left: 25px;
	margin-top: 53px;
}
.student4 {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-left: -20px;
	margin-top: -25px;
}
.student5 {
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-top: -60px;
}
.student6 {
	border-top-right-radius: 25px;
	margin-top: 30px;
}
.student7 {
	border-top-left-radius: 25px;
	margin-top: -30px;
}
.student8 {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;

	margin-top: -70px;
}

.read-more-button {
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 90px;
	decoration: none;
	padding: 3%;
	width: 200px;
	cursor: pointer;
	transition: background 0.3s ease;
}
.scene-wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.back-button {
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 100;

	background: black;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-family: "Bungee", sans-serif;
}

.scene-layers {
	position: relative;
	width: 100%;
	height: 100%;
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: auto;
}

.layer-back {
	z-index: 1;
}

.layer-middle {
	position: absolute;
	top: 2%;
	left: -5%;
	width: 40%;
	height: auto;
	z-index: 2;
}

.layer-front {
	position: absolute;
	bottom: 0;
	left: 0%;
	width: 100%;
	height: auto;
	z-index: 3;
}

.title-gothic {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	font-family: "gothicus", serif;
	font-size: 4rem;
	font-weight: 400;
	line-height: 1;
	color: #aa0e1c;
	z-index: 5;
	text-align: center;
	pointer-events: none;
}
.scene {
	position: relative;
	height: 100vh;
	overflow: hidden;
}

.scene-1 {
	z-index: 10;
}

.scene-2 {
	position: relative;

	overflow: hidden;
}

.scene2-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	object-fit: cover;
	z-index: 3;
}

.scene2-basket {
	position: absolute;
	left: 20%;
	top: 60%;
	width: 15%;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.8s ease-out;
	z-index: 5;
}
.scene2-basket.visible {
	opacity: 1;
	pointer-events: auto;
}

.scene2-text {
	position: absolute;
	top: 60%;
	left: 70%;
	transform: translateX(-50%);
	width: 100%;
	opacity: 0;
	color: #af4241;
	pointer-events: none;
	z-index: 4;
	transition: opacity 1s ease-out;
	text-align: center;
}

.scene2-i {
	font-family: "american-scribe", sans-serif;
	font-size: 3rem;
}

.scene2-normal {
	font-family: "berthold-baskerville-pro", serif;
	font-size: 1.1rem;
	line-height: 1.6;
}

.scene2-quote {
	font-family: "berthold-baskerville-pro", serif;
	font-style: italic;
	margin-top: 1rem;
	font-size: 1.1rem;
}
.scene-3 {
	position: relative;
	height: 400vh;
	overflow: hidden;
	z-index: 2;
	background-color: #00050b;
}

.scene3-gradient {
	position: relative;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	object-fit: cover;
	z-index: 1;
	background-color: #2b453a;
}

.scene3-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	object-fit: fill;
	z-index: 3;
}
.scene3-wolf {
	position: absolute;
	top: 20%;
	left: 22%;
	width: 13%;
	height: auto;
	object-fit: cover;
	z-index: 3;
}
.scene4-wolf {
	position: absolute;
	left: 6%;
	width: 80%;
	z-index: 3;
}

.scene3-bush {
	position: absolute;
	top: 490px;
	left: 280px;
	width: 200px;
	z-index: 4;
	cursor: grab;
}

.scene3-girl-walk {
	position: absolute;
	top: 20%;
	left: 6%;
	width: 250px;
	z-index: 4;
	transform: translate(0, 0);
	transition: transform 0.5s ease-out;
	transition: transform 0.1s linear;

	will-change: transform;
}

.scene3-cottage {
	position: absolute;
	right: 10%;
	bottom: 10%;
	width: 200px;
	z-index: 5;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}
.scene-gradient {
	position: relative;
	height: 100vh;
	overflow: hidden;
	z-index: 1;
	margin: 0;
	padding: 0;
}
.bush-text {
	position: absolute;
	top: 16%;
	left: 28%;
	text-align: center;
	color: #af4241;
	opacity: 0;
	transition: opacity 1s ease-out;
	z-index: 5;
	pointer-events: none;
	line-height: 1.5;
	font-family: "berthold-baskerville-pro", serif;
	font-size: 1.1rem;
}

.bush-text.visible {
	opacity: 1;
}

.bush-text-b {
	font-family: "american-scribe", sans-serif;
	font-size: 2.8rem;
	line-height: 0.5;
	vertical-align: middle;
	margin-right: 6px;
	display: inline-block;
	transform: translateY(-7px);
}

.scene3-door {
	position: absolute;
	top: 55%;
	left: 47%;
	width: 70%;
	transform: translateX(-50%);
	cursor: pointer;
	z-index: 5;
}

.scene-4 {
	position: relative;
	height: 150vh;
	background-color: #000;
	overflow: hidden;
	z-index: 1;
}

.scene4-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

.scene4-bed {
	position: absolute;
	top: 21%;
	left: 14%;
	width: 40%;
	z-index: 2;
}

.scene4-lrrh {
	position: absolute;
	top: 35%;
	right: 24%;
	width: 23%;
	z-index: 2;
}
.scene4-gradient {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 122vh;
	background: linear-gradient(#1c312c, #422612);
	z-index: 2;
	pointer-events: none;
}
.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.276);
	backdrop-filter: blur(5px);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: auto;
	padding: 50px 0;
}

/* CONTENU DU POPUP */
.popup-content {
	background-color: white;
	width: 70%;
	max-height: 90vh;
	overflow-y: auto;
	border-radius: 30px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.354);
	padding: 40px 30px;
	position: relative;
}

/* BOUTON DE FERMETURE */
.popup-close {
	position: absolute;
	top: 20px;
	right: 20px;
	background: transparent;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: #af4241;
}

/* NOUVEAU BOUTON RETOUR ← */
.popup-back {
	position: absolute;
	top: 20px;
	left: 20px;
	background: transparent;
	border: none;
	font-size: 2rem;
	cursor: pointer;
	color: #af4241;
}
