body {
	font-family: "helvetica-neue-lt-pro", Helvetica, sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #ffffff;
}

.story-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 70px;
	padding: 30px;
}

.story-card {
	background-color: #ebf5ec;
	color: #333;
	border-radius: 10px;
	padding: 20px;
	width: 370px;
    height: 230px;
	gap: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: left;
}
h1 {
	font-family: "Bungee", sans-serif;
	font-weight: 400;
	color: #e61232;
}

.app-header {
	display: flex;
	align-items: center;
	gap: 20px;
	padding: 20px;
}

.logo {
	max-height: 150px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 80%;
	margin: auto;
}

.app-header {
	max-width: 70%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.nav-list {
	display: flex;
	gap: 20px;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-list a {
	text-decoration: none;
	color: inherit;
}
.footer {
	background-color: #f7f7f7;
	padding: 40px 20px;
	display: flex;
	text-align: center;
	background-color: #ebf5ec;
	margin-top: 10%;
}
.footer-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 40px;
	max-width: 80%;
	margin: auto;
}

.footer-text {
	max-width: 700px;
	margin: 0 auto 20px;
	font-size: 1rem;
	color: #333;
	line-height: 1.6;
	text-align: left;
}

.about-button {
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 90px;
	padding: 12px 24px;
	width: 150px;
	cursor: pointer;
	transition: background 0.3s ease;
}

.about-button:hover {
	background-color: #333;
}
.footer-text-about {
	display: flex;
	flex-direction: column;
}

.stories-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.story-card-narrow {
	padding: 3%;
	width: 250px;
	background-color: #ebf5ec;
	border-radius: 27px;
	overflow: hidden;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
	transition: transform 0.3s ease;
}

.story-card-narrow:hover {
	transform: scale(1.05);
}

.story-image {
	width: 80%;
	height: 140px;
	object-fit: cover;
}

.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
	width: 5%;
	background: none;
	opacity: 1;
	color: #e61232;
	border-color: #e61232;
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
	background-color: #333;
	border-radius: 50%;
	padding: 10px;
	border: #e61232;
	background-size: 80%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.custom-carousel .carousel-control-prev {
	left: -40px;
}

.custom-carousel .carousel-control-next {
	right: -40px;
}
